# Базовый путь Axios. В локальной разработке запросы с /api принимает Vite.
VITE_BASE_URL=/api

# Адрес Go backend, куда Vite перенаправляет запросы с префиксом /api.
VITE_BACKEND_URL=http://localhost:8080
