// Шрифты
$font-main: "Poppins", sans-serif;


//Размеры
$content-width: 70vw;
$main-content-width: 60vw;

//Цвета
$green-button: rgba(0, 153, 81, 1);
$light-green-button: #5EB559;
$green-input: #4ABE3A;
$background-input: #F6F2F2;
$waiting-background: #DADF47;

//Стили
$border-radius: 10px;