.main {
  &__titleCover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
  }

  &__title { @include main-block-title; }
  &__subtitle { @include main-block-subtitle; }
}

@media (max-width: 600px) {
  .main__titleCover {
    align-items: flex-start;
    flex-direction: column;
  }
}
